In [16]:
import pandas as pd

from pycaret.regression import *

In [17]:
df = pd.read_csv('illinois-home-prices.csv')
df = df[['average_home_price', 'pct_college_education', 'unemployment_rate', 'median_household_income']]

In [18]:
s = setup(df, target = 'average_home_price', session_id = 0)

In [19]:
best = compare_models()

In [20]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [21]:
from pycaret.classification import *

In [22]:
df['expensive'] = 0
df.loc[df['average_home_price'] > (df['average_home_price'].mean() + df['average_home_price'].std()), 'expensive'] = 1

features_matrix = df[['pct_college_education', 'unemployment_rate', 'median_household_income']]
target_array = df[['expensive']]

In [23]:
s = setup(df, target = 'expensive', session_id = 0)

In [24]:
best = compare_models()

In [25]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦